# Wine Information 데이터 불러오기

- **Data Information**
1) id - wine ID
2) name - wine Name
3) producer - producer
4) nation - Country of origin
5) local1 - region1
6) local2 - region2
7) local3 - region3
8) local4 - region4
9) varieties1 - wine varieties
10) varieties2 - wine varieties
11) varieties3 - wine varieties
12) varieties4 - wine varieties
13) varieties5 - wine varieties
14) varieties6 - wine varieties
15) varieties7 - wine varieties
16) varieties8 - wine varieties
17) varieties9 - wine varieties
18) varieties10 - wine varieties
19) varieties11 - wine varieties
20) varieties12 - wine varieties
21) type - wine type
22) use - wine use
23) abv - Alcohol by volume
24) degree - Drinking temperature
25) sweet - Sweet rank (score between 1 and 5)
26) acidity - Acidity rank (score between 1 and 5)
27) body - Body rank (score between 1 and 5)
28) tannin - Tannin rank (score between 1 and 5)
29) price - wine price that based on WON NOT dollars!! (₩, WON)
30) year - Production year
31) ml - wine Volume (milliliter)

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from streamlit import columns

In [56]:
wine_data_df = pd.read_csv('./data/cleansingWine.csv', low_memory=False) # DtypeWarning: Columns (8,19,20) have mixed types. 나와서 low_memory=False 로 type 통일
print(wine_data_df.shape) # (21605, 32)
wine_data_df.head(5)

(21605, 32)

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750

In [57]:
wine_data_df.describe()

         Unnamed: 0             id         price          year            ml
count  21605.000000   21605.000000  2.160500e+04  21605.000000  21605.000000
mean   10802.000000  153998.163666  9.266349e+04   1769.949502    743.899236
std     6236.970619    9200.852348  2.521565e+05    654.831502    145.181162
min        0.000000  137197.000000  0.000000e+00      0.000000      0.000000
25%     5401.000000  146645.000000  0.000000e+00   2006.000000    750.000000
50%    10802.000000  153748.000000  3.000000e+04   2012.000000    750.000000
75%    16203.000000  162431.000000  8.900000e+04   2016.000000    750.000000
max    21604.000000  168707.000000  8.000000e+06   2020.000000   6000.000000

In [58]:
# 사용할 컬럼 선택
wine_favor_df = wine_data_df[['name', 'nation', 'local1', 'varieties1', 'varieties2', 'varieties3', 'type', 'use', 'abv', 'sweet', 'acidity', 'body', 'tannin', 'price', 'year', 'ml']]
print(wine_favor_df.shape)
wine_favor_df.head(10)

(21605, 16)

,name,nation,local1,varieties1,varieties2,varieties3,type,use,abv,sweet,acidity,body,tannin,price,year,ml
0,Altair,Chile,Rapel Valley,Cabernet Sauvignon,Carmenere,Merlot,Red,Table,14~15,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,"Altair, Sideral",Chile,Rapel Valley,Cabernet Sauvignon,Merlot,Carmenere,Red,Table,14~15,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,Baron du Val Red,France,NaN,Carignan,Cinsault,Syrah & Shiraz,Red,Table,11~12,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,Baron du Val White,France,NaN,Carignan,Ugni​ blanc,Grenache Blanc,White,Table,11~12,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,"Benziger, Cabernet Sauvignon",USA,California,Cabernet Sauvignon,NaN,NaN,Red,Table,13~14,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750
5,"Calvet, Beaujolais Villages",France,Bourgogne,Gamay,NaN,NaN,Red,Table,12,SWEET2,ACIDITY4,BODY2,TANNIN2,0,2007,750
6,"Calvet, Aetos",France,Bordeaux,Merlot,NaN,NaN,Red,Table,13,SWEET1,ACIDITY3,BODY4,TANNIN3,0,2003,750
7,"Calvet, Bordeaux Red",France,Bordeaux,Merlot,Cabernet Sauvignon,NaN,Red,Table,13~14,SWEET1,ACIDITY3,BODY2,TANNIN3,21000,2011,750
8,"Calvet, Bordeaux white",France,Bordeaux,Sauvignon blanc,Semillon,Muscadet,White,Table,11.5,SWEET1,ACIDITY4,BODY2,TANNIN1,21000,2010,750
9,"Calvet, Varietals Cabernet Sauvignon",France,Southern France,Cabernet Sauvignon,NaN,NaN,Red,Table,13~14,SWEET1,ACIDITY3,BODY2,TANNIN3,19000,2017,750

In [59]:
wine_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21605 entries, 0 to 21604
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   21605 non-null  int64
 1   id           21605 non-null  int64
 2   name         21605 non-null  object
 3   producer     21605 non-null  object
 4   nation       21603 non-null  object
 5   local1       20705 non-null  object
 6   local2       11145 non-null  object
 7   local3       3591 non-null   object
 8   local4       2 non-null      object
 9   varieties1   21256 non-null  object
 10  varieties2   7518 non-null   object
 11  varieties3   4028 non-null   object
 12  varieties4   1330 non-null   object
 13  varieties5   379 non-null    object
 14  varieties6   105 non-null    object
 15  varieties7   31 non-null     object
 16  varieties8   18 non-null     object
 17  varieties9   7 non-null      object
 18  varieties10  6 non-null      object
 19  varieties11  5 non-null      object
 20  varieties12  4 non-null      object
 21  type         21547 non-null  object
 22  use          21591 non-null  object
 23  abv          14459 non-null  object
 24  degree       14460 non-null  object
 25  sweet        21603 non-null  object
 26  acidity      21592 non-null  object
 27  body         21592 non-null  object
 28  tannin       21592 non-null  object
 29  price        21605 non-null  int64
 30  year         21605 non-null  int64
 31  ml           21605 non-null  int64
dtypes: int64(5), object(27)
memory usage: 5.3+ MB

In [60]:
# 결측치 제거
# abv 의 경우 숫자로 되어 있어서 가장 많은 13으로 대체
wine_data_df['abv'] = wine_data_df['abv'].fillna(13)
print(wine_data_df['abv'].value_counts())

abv
13       7146
13.5     1825
13       1813
13~14    1609
14       1319
         ...
14.59       1
14.29       1
13.71       1
12.66       1
0           1
Name: count, Length: 185, dtype: int64

In [61]:
# 모든 컬럼의 비어있는 셀 none 값 추가
wine_data_df.map(lambda x: None if pd.isnull(x) else x)

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,None,None,None,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,None,None,None,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,None,None,None,None,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,None,None,None,None,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,None,None,None,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21600,21600,168703,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,France,Champagne,None,None,None,Pinot Meunier,...,"Appetizer, Table",13,None,SWEET1,ACIDITY5,BODY2,TANNIN1,128000,0,750
21601,21601,168704,"Leopard’s Leap, Cuvee Brut",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,None,None,Chardonnay,...,"Appetizer, Table",12~13,6~8,SWEET1,ACIDITY5,BODY2,TANNIN1,40000,0,750
21602,21602,168705,"Leopard’s Leap, Chardonnay Pinot Noir",Leopards Leap,the Republic of South Africa,Western Cape,None,None,None,Chardonnay,...,"Appetizer, Table",12~13,10~12,SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21603,21603,168706,"Leopard’s Leap, Chardonnay",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,Wellington,None,Chardonnay,...,"Appetizer, Table",12~13,10~12,SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21604,21604,168707,"Leopard’s Leap, Culinaria Muscat",Leopards Leap,the Republic of South Africa,Breede River Valley,Robertson,None,None,Muscat,...,"Appetizer, Dessert",11~12,10~12,SWEET3,ACIDITY3,BODY3,TANNIN1,55000,2019,750

In [64]:
# 필요한 컬럼만 추출하여 새롭게 숫자형으로 변환
# 숫자 부분만 추출하여 새 컬럼으로 저장
wine_data_df['sweet_level'] = wine_data_df['sweet'].str.extract(r'(\d+)').astype(float)
wine_data_df['acidity_level'] = wine_data_df['acidity'].str.extract(r'(\d+)').astype(float)
wine_data_df['body_level'] = wine_data_df['body'].str.extract(r'(\d+)').astype(float)
wine_data_df['tannin_level'] = wine_data_df['tannin'].str.extract(r'(\d+)').astype(float)

# 변환 결과 확인
wine_data_df[['sweet', 'acidity', 'body', 'tannin', 'sweet_level', 'acidity_level', 'body_level', 'tannin_level']].head()

,sweet,acidity,body,tannin,sweet_level,acidity_level,body_level,tannin_level
0,SWEET1,ACIDITY4,BODY5,TANNIN4,1.0,4.0,5.0,4.0
1,SWEET1,ACIDITY3,BODY4,TANNIN4,1.0,3.0,4.0,4.0
2,SWEET2,ACIDITY3,BODY2,TANNIN2,2.0,3.0,2.0,2.0
3,SWEET1,ACIDITY3,BODY2,TANNIN1,1.0,3.0,2.0,1.0
4,SWEET1,ACIDITY3,BODY3,TANNIN4,1.0,3.0,3.0,4.0

In [70]:
from sklearn.metrics.pairwise import cosine_similarity

# 추천 시스템 함수 정의
def recommend_wines(user_preferences, wine_data_df, top_n=5):
    """
    사용자의 선호도에 따라 유사한 와인을 추천하는 함수입니다.
    
    Parameters:
    - user_preferences: dict - 사용자가 선호하는 속성 (sweet, acidity, body, tannin)
    - wine_data_df: DataFrame - 와인 데이터
    - top_n: int - 추천할 와인 개수
    
    Returns:
    - 추천된 와인의 DataFrame
    """
    # 사용자 선호도를 numpy array로 변환
    user_vector = np.array([
        user_preferences['sweet'],
        user_preferences['acidity'],
        user_preferences['body'],
        user_preferences['tannin']
    ]).reshape(1, -1)

    # 와인 속성 벡터 (sweet_level, acidity_level, body_level, tannin_level) 추출
    wine_vectors = wine_data_df[['sweet_level', 'acidity_level', 'body_level', 'tannin_level']].values

    # 코사인 유사도 계산
    similarities = cosine_similarity(user_vector, wine_vectors).flatten()

    # 유사도 기준으로 정렬하여 상위 top_n 추천
    top_indices = similarities.argsort()[-top_n:][::-1]
    recommended_wines = wine_data_df.iloc[top_indices]

    return recommended_wines[['name', 'nation', 'local1', 'varieties1', 'varieties2', 'varieties3', 'type', 'use', 'abv', 'sweet_level', 'acidity_level', 'body_level', 'tannin_level', 'price', 'year', 'ml']]

# 예시 (사용자가 선호하는 sweet, acidity, body, tannin 값)
user_preferences = {
    'sweet': 2,
    'acidity': 3,
    'body': 4,
    'tannin': 3
}

# 추천 결과 확인
recommended_wines = recommend_wines(user_preferences, wine_data_df)
recommended_wines

,name,nation,local1,varieties1,varieties2,varieties3,type,use,abv,sweet_level,acidity_level,body_level,tannin_level,price,year,ml
11316,Castello de Julio,Spain,NaN,Garnacha,Monastrell,NaN,Red,Table,11,2.0,3.0,4.0,3.0,0,0,750
13046,"Contri Spumanti, Conte di Campiano Salice Sale...",Italy,Puglia,Negroamaro,Malvasia,NaN,Red,Table,13,2.0,3.0,4.0,3.0,0,2010,750
9656,"Grand Pacific, Heritage Red",USA,California,Syrah & Shiraz,Merlot,Zinfandel,Red,Table,13,2.0,3.0,4.0,3.0,0,2012,750
7696,"Peju, Napa Valley Zinfandel",USA,California,Zinfandel,NaN,NaN,Red,Table,15,2.0,3.0,4.0,3.0,160000,2006,750
15385,Origen Merlot,Chile,Maule Valley,Merlot,NaN,NaN,Red,Table,13,2.0,3.0,4.0,3.0,0,2015,750

In [71]:
# NaN 값을 각 컬럼의 평균값으로 채웁니다.
wine_data_df = wine_data_df.assign(
    sweet_level=wine_data_df['sweet_level'].fillna(wine_data_df['sweet_level'].mean()),
    acidity_level=wine_data_df['acidity_level'].fillna(wine_data_df['acidity_level'].mean()),
    body_level=wine_data_df['body_level'].fillna(wine_data_df['body_level'].mean()),
    tannin_level=wine_data_df['tannin_level'].fillna(wine_data_df['tannin_level'].mean())
)

# NaN 값 처리 후 다시 추천 결과 확인
recommended_wines = recommend_wines(user_preferences, wine_data_df)
recommended_wines

,name,nation,local1,varieties1,varieties2,varieties3,type,use,abv,sweet_level,acidity_level,body_level,tannin_level,price,year,ml
11316,Castello de Julio,Spain,NaN,Garnacha,Monastrell,NaN,Red,Table,11,2.0,3.0,4.0,3.0,0,0,750
13046,"Contri Spumanti, Conte di Campiano Salice Sale...",Italy,Puglia,Negroamaro,Malvasia,NaN,Red,Table,13,2.0,3.0,4.0,3.0,0,2010,750
9656,"Grand Pacific, Heritage Red",USA,California,Syrah & Shiraz,Merlot,Zinfandel,Red,Table,13,2.0,3.0,4.0,3.0,0,2012,750
7696,"Peju, Napa Valley Zinfandel",USA,California,Zinfandel,NaN,NaN,Red,Table,15,2.0,3.0,4.0,3.0,160000,2006,750
15385,Origen Merlot,Chile,Maule Valley,Merlot,NaN,NaN,Red,Table,13,2.0,3.0,4.0,3.0,0,2015,750